<%= form_for @art do |f| %>
<ul>
  <% @art.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :age %>
  <%= f.number_field :age %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.label :museum_id %>
  <%= f.collection_select(:museum_id, Museum.all, :id, :name) %>

  <%= f.submit (@art.new_record? ? "Create" : "Update") %>

<% end %>
