<h1><%= @art.name %></h1>

<p>Age: <%= @art.age %></p>
<%= image_tag @dinosaur.image_url %>
<hr>

<%= link_to "[Edit]", edit_art_path(@art.name) %>
<%= link_to "[Delete]", art_path(@art.name), method: :delete, data: { confirm: "Are you sure?" } %>
