<h1><%= @art.name %></h1>

<p>Age: <%= @art.age %></p>
<%= image_tag @art.img_url %>
<p>Museum: <%= link_to @museum.index @art.museum.name %></p>
<hr>

<%= link_to "[Edit]", edit_art_path(@art.id) %>
<%= link_to "[Delete]", art_path(@art.id), method: :delete, data: { confirm: "Are you sure?" } %>
