<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @museum.name %>
</p>

<h3>List of Art</h3>

<% if @museum.arts.any? %>
  <ul>
    <% @museum.arts.each do |art| %>
      <li><%= art.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There is no art in this museum.</p>
<% end %>
<footer class="Footie">
<%= link_to 'Edit', edit_museum_path(@museum) %> |
<%= link_to 'Back', museums_path(@museum) %>
<br/>
</footer>
