<!DOCTYPE html>
<html>
  <head>
    <title>Artworks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="Header">
    <h1>
      Art is life
    </h1>
  </div>
    <%= yield %>
    <br><br>
    <div class="container">
<div class="footer">
<%= link_to "All artyfarty things", root_path %><p>   </p>
<%= link_to "All museums", museums_path %><p>   </p>
<%= link_to "All artworks", root_path %>
</div>
</div>
  </body>
</html>
