<!DOCTYPE html>
<html>
  <head>
    <title>ArtyfartyMuseum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="Header">
    <h2>
      Art is life
    </h2>
  </div>
    <%= yield %>
    <br><br>



<!-- <hr> -->

<%= link_to "All artworks", root_path %>
  </body>
</html>
